@import url(icon.css);

.m-btn {
	height: 40px;
	box-sizing: border-box;
	padding: 0px 24px;
	background-color: #019160;
	border-radius: 4px;
	border: none;
	color: #fff;
	text-align: center;
	outline: none;
	cursor: pointer;
	min-width: 100px;
    font-size: 13px;
}

.m-btn:hover {
	background-color: #2fbe8e;
}

.m-btn:active {
	background-color: #01b075;
}

.m-button-icon {
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 16px center;
	padding-left: 40px;
	padding-right: 16px;
}

.m-second-btn {
	background-color: #f4f4f4;
    color: #000;
    border-color: #f4f4f4;
    outline: #f4f4f4;
}

.m-second-btn:hover {
	background-color: #e5e5e5;
}

.m-second-btn:active {
	background-color: #01B075;
	color: #fff;
}

.m-btn-success {
	background-color: #019160;
}

.m-btn-error {
	background-color: #F65454;
}

.m-btn-error:hover {
	background-color: #ff7575;
}

.m-btn-error:active {
	background-color: #ff5050;
}

.m-btn-warning {
	background-color: #FF6900;
}

.m-btn-warning:hover{
	background-color: #ff862f;
}

.m-btn-warning:active{
	background-color: #ff7410;
}

.m-btn-info {
	background-color: #0075FF;
}

.m-btn-info:hover {
	background-color: #3794ff;
}

.m-btn-info:active {
	background-color: #1381ff;
}

.m-btn-refresh {
	height: 40px;
	width: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #BBBBBB;
	cursor: pointer;
	background-color: #fff;
	background-image: url("../../assets/icon/refresh.png");
	background-repeat: no-repeat;
	background-position: center;
}

.m-btn-refresh:hover {
	background-color: #dbdbdb;
}
