.m-content .m-content-header,
.m-content .m-content-toolbar {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-content .m-toolbar-left select {
    margin-left: 8px;
}

.m-content .m-content-toolbar {
    margin-top: 8px;
}

.m-content .m-toolbar-right {
    display: flex;
    align-items: center;
}

.m-content .m-toolbar-right button {
    margin-left: 8px;
}

.m-content .m-page-content {
    position: relative;
    margin-top: 8px;
    height: calc(100% - 96px - 16px);
    width: 100%;
}

.m-content .table {
    width: 100%;
    height: calc(100% - 126px);
    overflow-y: scroll;
}

.m-content .paging {
    position: absolute;
    bottom: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    border-color: grey;
}

/* width */
.m-content .table::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.m-content .table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
.m-content .table::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}
