.m-header {
    display: flex;
    height: 48px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: rgb(211, 211, 211) 0px 3px 6px;
}

.m-main {
    display: flex;
    height: calc(100vh - 48px);
	box-sizing: border-box;
}

.m-sidebar {
	position: relative;
	width: 226px;
    height: 100%;
    flex-shrink: 0;
    transition: all linear .5s;
	box-sizing: border-box;
}

.m-content {
    flex-grow: 1;
	box-sizing: border-box;
    padding: 16px 24px 0px 24px;
}